* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #353132;
  font-family: 'Roboto', sans-serif; }

.nav-bar {
  height: 5rem;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: space-around; }
  .nav-bar__logo {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem; }
  .nav-bar__logo:hover {
    color: #bd00ff; }
  .nav-bar__list {
    background: #353132;
    position: relative;
    z-index: 1000; }
  .nav-bar__listitem {
    display: inline-block;
    width: 6rem; }
  .nav-bar__anchor {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem; }
  .nav-bar__anchor:hover {
    color: #bd00ff;
    font-weight: bold; }
  .nav-bar__active-item {
    text-decoration: overline #bd00ff; }
  .nav-bar__active-item:hover {
    text-decoration: overline aliceblue; }
