.about{
    @include supercenter;
    flex-direction: column;
    color: map-get($colorpalet, "mainfontcolor");

    &__article{
        padding: 5rem;
        text-align: center;
    }
    
    &__h2{
        padding-bottom: 2rem;
        font-size: 2rem;
    }
    
    &__strong{
        color: map-get($colorpalet, "mainelementcolor");
        font-size: 2rem;
    }
    
    &__img{
        padding: 2px;
        background-image: url(../img/bg.gif);
    }
    
    &__p{
        padding-top: 2rem;
        text-align: justify;
        line-height: 2.5rem;
        font-size: 1.2rem;
        padding-right: 15%;
        padding-left: 15%;
    }
}