.contact{
    @include supercenter;

    &__fieldset{
        width: 80%;
        border: solid map-get($colorpalet, "mainelementcolor");
        text-align: center;
        padding: 5%;
        background-color: rgba(189,0,255,0.05);
    }
    
    &__legend{
        color: map-get($colorpalet, "mainfontcolor");
        font-size: 1.5rem;
        padding-right: 5%;
        padding-left: 5%;
        float: none;
        width: 80%;
    }
    
    &__labels{
        color: map-get($colorpalet, "mainfontcolor");
        font-size: 1.5rem;
    }
    
    &__inputs{
        height: 2rem;
        width: 30rem;
        text-align: center;
        border: solid 2px map-get($colorpalet, "mainelementcolor");
    }
    
    &__textarea{
        height: 10rem;
        width: 30rem;
        padding: 1%;
        text-align: center;  
        font-size: 1rem;
        border: solid 2px map-get($colorpalet, "mainelementcolor");
    }
    
    &__button{
        margin-left: 1rem;
        margin-right: 1rem;
        text-decoration: none;
        width: 8rem;
        height: 1.7rem;
        padding: 0.5rem;
        background-color:map-get($colorpalet, "mainelementcolor");
        text-align: center;
        border: solid 1px map-get($colorpalet, "mainfontcolor");
        border-radius: 3px;
        color: map-get($colorpalet, "mainfontcolor");
        font-weight: bold;
        font-size: 1rem;
        line-height: 0.5rem;
    }
    
    &__button:hover{
        background-image: url(../img/bg.gif);
        filter: invert(100%);
        color: map-get($colorpalet, "mainfontcolor");
        border: solid 1px black;
    }
}