.main-index{
    @include supercenter;
    background-image: url(../img/background.gif);
    background-size:contain;

    &__section{
        padding: 15%;
        color: map-get($colorpalet, "mainfontcolor");
    }
    
    &__article{
        background: map-get($colorpalet, "mainbackgroundcolor");
        padding: 1rem;
        color: map-get($colorpalet, "mainfontcolor");
        border: solid map-get($colorpalet, "mainelementcolor");
    }
    
    &__h2{
        font-size: 3rem;
    }
    
    &__strong{
        color: map-get($colorpalet, "mainelementcolor");
        font-size: 3rem;
    }
    
    &__p{
        background: map-get($colorpalet, "mainbackgroundcolor");
        font-size: 2rem;
    }
    
    &__button{
        @include supercenter;
        margin-top: 1rem;
        text-decoration: none;
        width: 8rem;
        height: 1.7rem;
        padding: 7px;
        margin-left: 20px;
        background-color:map-get($colorpalet, "mainelementcolor");
        float: right;
        text-align: center;
        border: solid 1px map-get($colorpalet, "mainfontcolor");
        border-radius: 3px;
        color: map-get($colorpalet, "mainfontcolor");
        font-weight: bold;
        line-height: 15px;
        font-family: 'Orbitron', sans-serif;
    
        &:hover{
            @extend .buttonhover;
        }
    }
}
