.nav-bar{
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: space-around;

    &__logo{
        text-decoration: none;
        color:map-get($colorpalet, "mainfontcolor");
        font-family: 'Orbitron', sans-serif;
        font-size: 2rem;
    }
    
    &__logo:hover{
        color:#bd00ff;
    }
    
    &__list{
        background:map-get($colorpalet, "mainbackgroundcolor");
        position: relative;
        z-index: 1000
    }
    
    &__listitem{
        display: inline-block;
        width: 6rem;
    }
    
    &__anchor{
        color: map-get($colorpalet, "mainfontcolor");
        text-decoration: none;
        font-size: 1.5rem;
    }
    
    &__anchor:hover{
        color:#bd00ff;
        font-weight: bold;
    }
    
    &__active-item{
        text-decoration: overline #bd00ff;
    }
    
    &__active-item:hover{
        text-decoration: overline map-get($colorpalet, "mainfontcolor");
    }
}