.projects{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 0.75fr);
    grid-gap: 2rem;

    &__article{
        color: map-get($colorpalet, "mainfontcolor");
        background-color: rgba(189,0,255,0.2);
        padding: 2rem;
        display: flex;
        position: relative;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    
    &__img{
        width: 100%;
    }
    
    &__h2{
        font-weight: bold;
        position: absolute;
        top: 2rem;
        left: 2rem;
        background: map-get($colorpalet, "mainelementcolor");
        border: solid 1px map-get($colorpalet, "mainelementcolor");
        padding: 0.4rem 0.8rem;
    }
    
    &__p{
        font-size: 1rem;
        padding-top: 1rem;
        text-align: justify;
        font-weight: bold;
    }

    &__button{
    margin-top: 1rem;
    text-decoration: none;
    width: 10rem;
    height: 2rem;
    padding: 0.5rem;
    background-color:map-get($colorpalet, "mainelementcolor");
    text-align: center;
    border: solid 1px map-get($colorpalet, "mainfontcolor");
    border-radius: 3px;
    color: map-get($colorpalet, "mainfontcolor");
    font-weight: bold;
    line-height: 1rem;
    font-family: 'Orbitron', sans-serif;

        &:hover{
            @extend .buttonhover;
        }
    }
}